body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #0B6B0B;
    color: #FFFFFF;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*****  SITE CSS  *****/

div.dark-green {
    background-color: #0B6B0B;
    color: #FFFFFF;
}

div.dark-blue {
    background-color: #4D7D7D;
    color: #085050;
}

div.light-blue {
    background-color: #085050;
    color: #4D7D7D;
}


