@model HealthyHajj.Models.Hajji

@{
    ViewBag.Title = "CheckInSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Hajj: Hajji = My Hajj, Hajjah = Their Hajj, or his Hajj depending on context-->
<h2>Check In Hajjah</h2> 

<div>
    <h4>Search Parameters</h4>
    <hr />


</div>

